<%- include('../../partials/header'); %>
<div class="container mt-5">
    <h2>IT Daily Report</h2>
    <form action="/ITDailyWork" method="POST">
      <div class="row mb-3">
        <div class="col-md-12">
          <label for="todaysEvent" class="form-label">Today's Event</label>
          <textarea class="single-input" id="todaysEvent" style="height: 100px;" name="todaysEvent" placeholder="Enter today's event" required></textarea>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-12">
          <label for="workDone" class="form-label">Work Done (Yesterday) </label>
          <textarea class="single-input" id="workDone" style="height: 100px;" name="workDone" placeholder="Enter regular work details" required></textarea>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-12">
          <label for="specialComment" class="form-label">Special Comments</label>
          <textarea class="single-input" id="specialComment" style="height: 100px;" name="specialComment" placeholder="Enter any special comments" required></textarea>
        </div>
      </div>
  
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <%- include('../../partials/footer'); %>