<!doctype html>
<html class="no-js" lang="zxx">

<!-- Mirrored from preview.colorlib.com/theme/megasis/sin-up.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 16 Aug 2024 05:45:26 GMT -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sign In</title>
    <meta name="description" content>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.html">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/icon/favicon.png">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/slicknav.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <main>
        <form action="/signup" method="POST">
        <div class="register-form-area mt-10 mb-40">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-7 col-md-10">
                        <div class="register-form text-center">

                            <div class="register-heading">
                                <span>Sign Up</span>
                                <p>Create your account to get full access</p>
                            </div>

                            <div class="input-box">
                                <div class="single-input-fields">
                                    <label>Full name</label>
                                    <input type="text" placeholder="Enter full name" name="name">
                                </div>
                                <div class="single-input-fields">
                                    <label>Email Address</label>
                                    <input type="email" placeholder="Enter email address" name="email">
                                </div>
                                <div class="single-input-fields">
                                    <label>Department Name</label>
                                    <input type="name" placeholder="Enter Department Name" name="departmentName">
                                </div>
                                <div class="single-input-fields">
                                    <label>Password</label>
                                    <input type="password" placeholder="Enter Password" name="password">
                                </div>
                                <div class="single-input-fields">
                                    <label>Confirm Password</label>
                                    <input type="password" placeholder="Confirm Password" name="confirmPassword">
                                </div>
                            </div>

                            <div class="register-footer">
                                <p> Already have an account? <a href="/login"> Login</a> here</p>
                                <button class="btn">Sign Up</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </main>
</body>

<!-- Mirrored from preview.colorlib.com/theme/megasis/sin-up.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 16 Aug 2024 05:45:26 GMT -->

</html>